<div id="<%= dom_id borrowing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= borrowing.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Book:</strong>
    <%= borrowing.book_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User name:</strong>
    <%= borrowing.user_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Book title:</strong>
    <%= borrowing.book_title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Borrowed at:</strong>
    <%= borrowing.borrowed_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Returned at:</strong>
    <%= borrowing.returned_at %>
  </p>
</div>
