<%= form_with(model: borrowing, class: "contents") do |form| %>
  <% if borrowing.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(borrowing.errors.count, "error") %> prohibited this borrowing from being saved:</h2>

      <ul class="list-disc ml-6">
        <% borrowing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="my-5">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": borrowing.errors[:user_name].none?, "border-red-400 focus:outline-red-600": borrowing.errors[:user_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :book_title %>
    <%= form.text_field :book_title, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": borrowing.errors[:book_title].none?, "border-red-400 focus:outline-red-600": borrowing.errors[:book_title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :date_borrowed %>
    <%= form.datetime_field :borrowed_at, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": borrowing.errors[:borrowed_at].none?, "border-red-400 focus:outline-red-600": borrowing.errors[:borrowed_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :date_returned %>
    <%= form.datetime_field :returned_at, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": borrowing.errors[:returned_at].none?, "border-red-400 focus:outline-red-600": borrowing.errors[:returned_at].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
